body {
    margin: 0;
 display: flex;
 flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
    padding-bottom: 200px;
}

.coordinates {
    font-size: 5rem;
}

#bodytext {
    width: 40em;
    margin-left: auto;
    margin-right: auto;
    text-justify: auto;
    font-size: 1.2em;
    font-family: sans-serif;
}

h1, h2, h3 {
    font-family:serif;
}

.container {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*display: flex;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;*/
}

.square, .image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
/*    wdith: 100px;
   height: 100px;*/
}

.square {
    background-color: #ddd;
    position: relative;
}

/*.image img {
    height: 80%;
}*/

 #network-diagram {
          /*  width: 800px;
            height: 600px;*/
            background-color: #d0d0d0;
/*            position: absolute;*/
overflow: auto;
position: relative;
flex: 2;
height: 60vh;
align-items: center;
justify-content: center;
/*padding: 600px;*/

 }
 .node {
     fill: #69b3a2;
     stroke: #fff;
     stroke-width: 2px;
 }
 .link {
     stroke: #999;
     stroke-opacity: 0.6;
 }
/* #node-info {
     position: absolute;
     background: white;
     border: 1px solid #ddd;
     padding: 10px;
     display: none;
 }*/
/* figure{
     display: inline-block;
     width: 30%;
 }*/

 #node-info-content {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align:center;
 }
 #node-info-content img {
     flex-basis: 90%;
     margin: 0 50px;
 }
 .panel {
    overflow: auto;
    /*overflow-y: scroll;
    overflow-x: scroll;*/
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#node-info {
/*    width: 800px;
    height: 600px;
  /*  position: absolute;*/
  flex: 1;
    background-color: #f0f0f0;
    height: 40vh;
}
.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
 
#network-diagram svg {
    flex-shrink: 0; /* Prevent the SVG from shrinking */
    position: absolute;
    top: 0;
    left: 0;   
}
